/* ------------------- */
/* COLOR SCHEME */
/* ------------------- */

:root {
  --darkest: #000000;
  --dark: #4C5355;
  --medium: #607D86; 
  --light: #CBCDCB;
  --emphasis: #C44B4F;
  --lightest: #FFFFFF;
  
}

/* ------------------- */
/* UNIVERSAL PROPERTIES */
/* ------------------- */

/* Background color */
body {
  background-color: var(--medium);
  color: var(--lightest);
}

/* ------------------- */
/* NAVBAR */
/* ------------------- */
/* Navbar color */
.navbar,
.nav-link {
  background-color: var(--medium);
  color: var(--lightest);
},

.navbar-nav .nav-item .nav-link:hover {
  background-color: var(--dark) !important;
  color: var(--lightest);
}


/* Custom Toggler Icon */
.custom-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  border: 1px solid var(--lightest);
  padding: 5px;
  border-radius: 5px;
}

.custom-toggler-icon > div {
  height: 1.5px;
  background-color: var(--lightest);
}

/* ------------------- */
/* PAGE CONTAINERS */
/* ------------------- */
.page-container {
  margin: 0 10px;
}

/* ------------------- */
/* PAGE TITLE CONTAINERS */
/* ------------------- */
.page-title {
  margin: 10px;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.title-container {
  display: flex;
  align-items: center; 
  gap: 10px;
}

/* ------------------- */
/* SECTION CONTAINERS */
/* ------------------- */

/* Section Container appearance */
.section-container {
  background-color: var(--light);
  border: 1px solid var(--lightest);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  margin: 20px 10px;
  position: relative;
  color: var(--darkest);
  transition: all 0.75s ease;
  cursor: pointer;
}

.section-container h4 {
  margin: 0;
}

.section-container.expand .dropdown-arrow {
  animation: spin 0.5s forwards;
}

.section-container.contract .dropdown-arrow {
  animation: 0.5s reverseSpin forwards;
}

/* Action Section Container appearance */
.section-container.action {
  background-color: var(--emphasis);
  color: var(--lightest);
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* Apply slide-in animations to each section container based on their order */
.section-container.entering:nth-child(odd) {
  animation: slideInFromLeft 0.5s forwards;
}

.section-container.entering:nth-child(even) {
  animation: slideInFromRight 0.5s forwards;
}

/* Apply slide-out animations to each section container based on their order */
.section-container.exiting:nth-child(odd) {
  animation: slideOutToLeft 0.5s forwards;
}

.section-container.exiting:nth-child(even) {
  animation: slideOutToRight 0.5s forwards;
}

/* ------------------- */
/* SECTION CONTENT */
/* ------------------- */

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
            
/* ------------------- */
/* BUTTONS */
/* ------------------- */

.action-button {
  background-color: var(--emphasis);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--lightest);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  transition: 0.3s ease;
  border: 1px solid var(--lightest)
}

.action-button:hover {
  /* background-color: var(--dark); */
  transform: scale(1.05);
}

.action-button-outline {
  background-color: transparent;
  border: 1px solid var(--emphasis);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--emphasis);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

button.action-button-outline:hover {
  transform: scale(1.05);
}

/* this centers the add another exercise button */ 
#new-workout-plan-add-exercise {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* positions action buttons on either side of their container */
.action-buttons-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* ---------------------- */
/* ANIMATION DEFINITIONS  */ 
/* ---------------------- */

/* Sections Slide In */ 

/* Section container animation for sliding in from the left */
@keyframes slideInFromLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Section container animation for sliding in from the right */
@keyframes slideInFromRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Section container animation for sliding out to the left */
@keyframes slideOutToLeft {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(-100%);
      opacity: 0;
  }
}

/* Section container animation for sliding out to the right */
@keyframes slideOutToRight {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}

/* Disables slide in animation for the create exercise form */
/* #create-exercise-form-container {
  animation: none !important;
} */

/* Spin dropdown arrow on section expand */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* Spin dropdown arrow on section contract */
@keyframes reverseSpin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

a {
  color: var(--emphasis);
}

hr {
  border-color: var(--dark);
}

