{% extends "training/layout.html" %}

{% block body %}

<div class="page-container" id="workout_plan-page-container">
    <div class="page-title" id="register-page-title">
        <h2> Log In </h2>
    </div>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class = "section-container" id="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="button action-button" type="submit" value="Login">
        </form>
    </div>

    <div class="section-container" id="register-new-account">
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
</div>
{% endblock %}