{% extends "training/layout.html" %}

{% block body %}

    <div class="page-container" id="profile-page-container">
        <div class="page-title" id="profile-page-title">
            <h2> {{ username }} Profile </h2>
        </div>
    

    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}

        <div class="section-container" id="profile-start-workout">
            Workout Now
        </div>

        <div class="section-container" id="profile-exercises">
            Exercises
        </div>

        <div class="section-container" id="profile-workouts">
            Workout Plans
        </div>

        <div class="section-container" id="profile-personal-information">
            Personal Information
        </div>
    </div>
{% endblock %}