{% extends "training/layout.html" %}

{% load static %}

{% block body %}

    <div class="page-container" id="profile-page-container">
        <div class="page-title" id="profile-page-title">
            <h2> {{ username }} Profile </h2>
            <a class="action-button" id="create-workout-plan-button" href="../workout_plans">Workout Now</a>
        </div>
    

    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}

        <div class="page-content" id="profile-body-weight">
        </div>

        <div class="page-content" id="profile-workout-history">
        </div>

        <div class="page-content" id="profile-manage-exercises">
        </div>

    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        var workout_plan_id = "{{ workout_plan_id }}";
    </script>
    <script type="module" src="{% static 'training/exercises.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{% static 'training/profile.js' %}"></script>
{% endblock %}
```