{% extends "training/layout.html" %}

{% block body %}
<div class="page-container" id="workout_plan-page-container">
    <div class="page-title" id="workout_plan-page-title">
        <h2> {{ username }}'s Workout Plans </h2>
    </div>
    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}

    <div class="page-content" id="existing-workout-plans">
    </div>
    
    <!-- CREATE NEW WORKOUT -->
    
    <!-- ADD JS FOR CREATE WORKOUT - REMOVE ONCE COMPLETE -->

    <!-- Display existing workout plans-->
    


    
    

</div>
{% endblock %}