{% extends "training/layout.html" %}

{% block body %}
<div class="page-container" id="workout_plan-page-container">
    <div class="page-title" id="workout_plan-page-title">
        <h2> Hello {{ username }} </h2>
    </div>

    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}

    <!-- Space for instructions to the user-->
    <div class="page-content" id="workout-instructions">
        Instructions - to be added.
    </div>
    
    <!--Form for creating a new workout plan-->
    <div class="page-content" id="create-workout-plan">
    </div>

    <!-- Show all existing workout plans-->
    <div class="page-content" id="existing-workout-plans">
    </div>

    <!-- Main page action-->
    <div class="page-content" id="main-page-action">
    </div>
        
    
</div>
{% endblock %}