{% extends "training/layout.html" %}

{% block body %}
<div class="page-container" id="workout_plan-page-container">
    <div class="page-title" id="workout_plan-page-title">
        <h2> {{ username }}'s Workout Plans </h2>
        <button class="action-button" id="create-workout-plan-button" onclick="open_create_workout_plan_form()">Create Workout Plan</button>
    </div>

    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}

    <!--Form for creating a new workout plan-->
    <div class="page-content" id="create-workout-plan">
    </div>

    <!-- Show all existing workout plans-->
    <div class="page-content" id="existing-workout-plans">
    </div>
    
</div>
{% endblock %}